<h1>Nuevo Tweet</h1>
    <% if @tweet.id.nil?%>
        <%= render 'form', tweet: @tweet%> 
    <% else %> 
        <%redirect_to tweet_path(@retweet) %>
    <%end %>


<%= link_to 'Back', tweets_path %>
